<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cascade</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/dashboard.mjs') }}"></script>
</head>

<body class="h-screen bg-white">
    <nav class="bg-white border border-color-gray-100 border-bottom max-h-[50px]">
        <div class="max-w-6xl mx-auto">
            <div class="flex justify-between">
                <div class="flex space-x-3">
                    <div>
                        <a href="/" class="flex items-center py-2">
                            <img src="favicon.ico" alt="Logo" class="h-8 w-8 mr-2" />
                        </a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-3 ">
                    <div class="flex items-center space-x-4">
                        <img class="h-8 w-8 rounded-full" src="{{ url_for('static', filename='images/avatar.jpeg') }}"
                            alt="User Avatar" />
                        <span class="text-gray-500">Shiqi Mei</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="main h-[calc(100vh-50px)] flex">
        <div
            class="h-[150px] profile-container bg-white overflow-hidden flex items-center p-2 border border-color-[rgb(208, 215, 222)] rounded m-2">
            <img class="user-profile-avatar w-[120px] h-[120px] rounded-full md:w-32 md:h-32 object-cover shadow-[0_0_0_1px_rgb(0,0,0,0.3)]"
                src="path-to-avatar.jpg" alt="Profile Avatar">
            <div class="user-profile-info ml-5">
                <h2 class="user-profile-username text-2xl font-bold text-gray-800">Username</h2>
                <p class="user-profile-bio text-gray-600">This user has no bio...</p>
                <div class="flex mt-2">
                    <div class="flex items-center mr-4 text-sm">
                        <i class="fas fa-user-friends text-gray-600 mr-1"></i>
                        <span class="ml-1 text-gray-600 text-sm"><span class="user-profile-followers">0</span>
                            followers</span>
                    </div>
                    <div class="flex items-center text-sm">
                        <i class="fas fa-user-plus text-gray-600 mr-1"></i>
                        <span class="ml-1 text-gray-600 text-sm"><span class="user-profile-following">0</span>
                            following</span>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="h-[150px] repo-container bg-white overflow-hidden flex flex-col items-start p-4 border border-[rgb(208,215,222)] rounded m-2 w-full max-w-md">
            <h3 class="text-xl font-semibold mb-4">Select a Repository</h3>
            <select
                class="w-full p-2 rounded border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-gray-700"
                id="repositorySelect" name="repository">
                <option value="">Loading repository list...</option>
                <!-- Dynamically filled options will go here -->
            </select>
            <span class="ml-1 text-gray-600 text-sm mt-3"><span class="repos-count">0</span>
                in total</span>
        </div>
    </div>
</body>

</html>