<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cascade</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
</head>

<body class="h-screen bg-white">
    <nav class="bg-white border border-color-gray-100 border-bottom max-h-[50px]">
        <div class="max-w-6xl mx-auto">
            <div class="flex justify-between">
                <div class="flex space-x-3">
                    <div>
                        <a href="#" class="flex items-center py-2">
                            <img src="favicon.ico" alt="Logo" class="h-8 w-8 mr-2" />
                        </a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-3 ">
                    <div class="flex items-center space-x-4">
                        <img class="h-8 w-8 rounded-full" src="avatar.jpeg" alt="User Avatar" />
                        <span class="text-gray-500">Shiqi Mei</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="main h-[calc(100vh-50px)] flex justify-center items-center"></div>
</body>

</html>