<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect to Services</title>
    <link rel="icon" type="image/x-icon" href="https://sourcegraph.com/favicon.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
</head>

<body class="flex justify-center items-center h-screen bg-white">
    <div class="p-6 max-w-sm mx-auto rounded-xl shadow-md text-center bg-[#fafafa] border border-color-[#eaeaea]">
        <h2 class="text-lg font-semibold mb-4">Connect to Services</h2>
        <p class="text-md my-4 text-[#444444]">Select a Git provider to import an existing project from a Git
            Repository.</p>
        <div class="space-y-2">
            <!-- GitHub Button -->
            <button type="button"
                class="relative flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-black rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75">
                <i class="fab fa-github absolute left-4 transform -translate-y-1/2 top-1/2"></i>
                <span class="ml-8">Connect to GitHub</span>
            </button>
            <!-- Jira Button -->
            <button type="button"
                class="relative flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                <i class="fab fa-jira absolute left-4 transform -translate-y-1/2 top-1/2"></i>
                <span class="ml-8">Connect to Jira</span>
            </button>
            <!-- GitLab Button -->
            <button type="button"
                class="relative flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-75">
                <i class="fab fa-gitlab absolute left-4 transform -translate-y-1/2 top-1/2"></i>
                <span class="ml-8">Connect to GitLab</span>
            </button>
            <!-- Bitbucket Button -->
            <button type="button"
                class="relative flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                <i class="fab fa-bitbucket absolute left-4 transform -translate-y-1/2 top-1/2"></i>
                <span class="ml-8">Connect to Bitbucket</span>
            </button>
            <!-- CodeCommit Button -->
            <button type="button"
                class="relative flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-purple-600 rounded-md hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75">
                <i class="fas fa-code-branch absolute left-4 transform -translate-y-1/2 top-1/2"></i>
                <span class="ml-8">Connect to CodeCommit</span>
            </button>
        </div>

    </div>
</body>

</html>